<ketmie-background class="svg-bg"></ketmie-background>
<div mainContainer class="mainContainer basic-container mat-typography">
  <div class="menu-bar flex-v flex-h-c black-content">
    <menu-button (click)="sidenav.toggle()"></menu-button>
    <i class="fa fa-home" routerLink="/" routerLinkActive="active"></i>
    <i class="fa fa-user-circle" aria-hidden="true"></i>
  </div>
  <mat-sidenav-container class="container">
    <mat-sidenav #sidenav opened="false" [disableClose]="false" class="sidenav black-content">
      <div class="flex-v link-container" (click)="sidenav.close()">
        <span *ngFor="let c of categories" routerLink="/category/{{c.id}}" routerLinkActive="active">{{c.label}}</span>
        <div class="hr"></div>
        <span *ngFor="let c of cmsContents" routerLink="/cms-content/{{c.id}}" routerLinkActive="active">{{c.label}}</span>
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
