/* MATERIAL OVERRIDES 
@import './theme';
@import '@angular/material/prebuilt-themes/indigo-pink.css';


"styles": [
    "../libs/flati/flati.css",
    "../node_modules/font-awesome/css/font-awesome.min.css",
    "styles.css"
    ]
    */

.mat-drawer-backdrop.mat-drawer-shown {
    background-color: transparent !important;
}

/* GLOBALS */

body, html {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


/* FLEX LAYOUTS */

.flex-v {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.flex-v>* {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.flex-h-c {
    align-items: center;
}

.screen-middle {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.screen-middle:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.black-content {
    background-color: #333;
    color: white;
}

.flati {
    font-family: Flati!important;
}

img, svg, svg * {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently upported by Chrome and Opera */
}

.noevents, .noevents * {
    pointer-events: none!important;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
}

.main {
    padding: 10px;
    transform: translateX(-100%);
    transition-property: transform;
    transition-duration: 300ms;
}

.main.on {
    transform: translateX(0%);
    transition-property: transform;
    transition-duration: 300ms;
}

.main h2 {
    margin: 0 0 10px 0;
    font-size: 28px;
    font-family: Flati!important;
}

*:focus {
    outline: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, .33)
}

#router-container {
    position: relative;
}

.i-button {
    cursor: pointer;
}
.text-shadow {
    text-shadow: 3px 3px 3px rgba(0,0,0,0.34); 
}