.screen-middle {
    display: none;
}
.screen-middle.on {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}

.screen-middle:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}