.settings/
.project
.buildpath
# System Files
.DS_Store
Thumbs.db
*.txt
*.log
ketmie.code-workspace
/.metadata/
web-app/
/.angulardoc.json
shared/mysql/
shared/xdebug/
shared/phpunit-8.5.2.phar

!/www/client/
/www/client/*
!/www/client/plugins/