nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
}
.box {
    background-color: white;
    cursor: pointer;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
}
.box > img {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}