<div class="popup" title="::comptemodifier::">
	<div class="popupDiv">
		<form action="" class="formAdr" method="post">
      		<input type="hidden" name="client_id" value="#CLIENT_ID"/>
      		<table class="connectForm">
          	<tr>
	          	<td class="formLabel">
					<label for="civilite">::civilite:: *</label>
	          	</td>
	          	<td>
					<select name="raison">
						<THELIA_raison type="RAISON">
						<TEST_raison variable="#LONG" test="egal" valeur="#CLIENT_RAISON">
				            <option value="#ID" selected="selected">#LONG</option>
					     </TEST_raison>
				            <option value="#ID">#LONG</option>
					     <//TEST_raison>
						</THELIA_raison>
		            </select>
	          	</td>
				<td class="formLabel">
					<label>::adresse:: *</label>
	          	</td>
	          	<td>
		            <input type="text" name="adresse1" class="required len3" value="#CLIENT_ADRESSE1"/>		
	          	</td>
          	</tr>
          	<tr>
	          	<td class="formLabel">
					<label>::nom:: *</label>
	          	</td>
	          	<td>
		            <input type="text" name="nom" class="required len3" value="#CLIENT_NOM"/>
	          	</td>
				<td class="formLabel">
					<label>::complementadresse:: 1</label>
	          	</td>
	          	<td>
		            <input type="text" name="adresse2" value="#CLIENT_ADRESSE2"/>	
	          	</td>
          	</tr>
          	<tr>
	          	<td class="formLabel">
					<label for="prenom">::prenom:: *</label>
	          	</td>
	          	<td>
		            <input type="text" name="prenom" class="required len3" value="#CLIENT_PRENOM"/>
	          	</td>
   				<td class="formLabel">
					<label>::complementadresse:: 2</label>
	          	</td>
	          	<td>
		            <input type="text" name="adresse3" value="#CLIENT_ADRESSE3"/>	
	          	</td>
          	</tr>
          	<tr>
	          	<td class="formLabel">
					<label>::tel:: 1 *</label>
	          	</td>
	          	<td>
		            <input type="text" name="telfixe" class="required numField" value="#CLIENT_TELFIXE"/>		
	          	</td>
	          	<td class="formLabel">
					<label>::cp:: *</label>
	          	</td>
	          	<td>	
		            <input type="text" name="cp"  class="required numField" value="#CLIENT_CPOSTAL"/>
	          	</td>
          	</tr>
          	<tr>
	          	<td class="formLabel">
					<label>::tel:: 2</label>
	          	</td>
	          	<td>
		            <input type="text" name="telport" class="numField" value="#CLIENT_TELPORT"/>		
	          	</td>
	          	<td class="formLabel">
					<label>::ville:: *</label>
	          	</td>
	          	<td>
		            <input type="text" name="ville" class="required len3" value="#CLIENT_VILLE"/>		
	          	</td>
          	</tr>
          	<tr>
          		<td class="formLabel"></td>
          		<td></td>
	       		<td class="formLabel">
					<label>::pays:: *</label>
	          	</td>
	          	<td>
					<select name="pays" id="pays" class="coutryDD" style='position:relative;z-index:100'>
					<THELIA_pays type="PAYS" zdefinie="1">	
						<TEST_raison variable="#TITRE" test="egal" valeur="#CLIENT_PAYS">
						<option value="#ID" selected="selected">#TITRE</option>
						</TEST_raison>
						<option value="#ID">#TITRE</option>
						<//TEST_raison>
					<option value="#ID">#TITRE</option>
					</THELIA_pays>
					</select>
	          	</td>
          	</tr>
          	<tr>
          		<td class="formLabel">
          			<label>::monemail:: *</label>
          		</td>
          		<td>
          			<input type="text" name="email1" class="email emailSrc" value="#CLIENT_EMAIL"/>
          		</td>
          		<td class="formLabel">
          			<label>::monmdp:: *</label>
          		</td>
          		<td>
          			<input name="motdepasse1" type="password" class="pwdUp pwdSrc"/>
          		</td>
          	</tr>
          	<tr>
          		<td class="formLabel">
          			<label>::confirmationemail:: *</label>
          		</td>
          		<td>
          			<input type="text" class="email emailValid" name="email2" value="#CLIENT_EMAIL"/>
          		</td>
          		<td class="formLabel">
          			<label>::confirmationmdp:: *</label>
          		</td>
          		<td>
          			<input name="motdepasse2" type="password" class="pwdUp pwdValid"/>
          		</td>
          	</tr>
          </table>
          <div class="popupBtnBox rightForm">
          	  <button type="button" class="cancelBtn">::annuler:: | ::fermer::</button>
	          <button type="button" class="submitBtn">::valider::</button>
          </div>
      	</form>
    </div>
</div>