<div class="popup" title="::creationcompte::">
	<div class="popupDiv">
		<form action="" class="formAdr" method="post">
      		<table class="connectForm">
          	<tr>
	          	<td class="formLabel">
					<label for="civilite">::civilite:: *</label>
	          	</td>
	          	<td>
					<select name="raison">
					<THELIA_raison type="RAISON">
						<option value="#ID" #DEFAUT>#LONG</option>
					</THELIA_raison>
				    </select>
	          	</td>
				<td class="formLabel">
					<label>::adresse:: *</label>
	          	</td>
	          	<td>
		            <input type="text" name="adresse1" class="required len3"/>		
	          	</td>
          	</tr>
          	<tr>
	          	<td class="formLabel">
					<label>::nom:: *</label>
	          	</td>
	          	<td>
		            <input type="text" name="nom" class="required len3"/>
	          	</td>
				<td class="formLabel">
					<label>::complementadresse:: 1</label>
	          	</td>
	          	<td>
		            <input type="text" name="adresse2"/>	
	          	</td>
          	</tr>
          	<tr>
	          	<td class="formLabel">
					<label for="prenom">::prenom:: *</label>
	          	</td>
	          	<td>
		            <input type="text" name="prenom" class="required len3"/>
	          	</td>
   				<td class="formLabel">
					<label>::complementadresse:: 2</label>
	          	</td>
	          	<td>
		            <input type="text" name="adresse3"/>	
	          	</td>
          	</tr>
          	<tr>
	          	<td class="formLabel">
					<label>::tel:: 1 *</label>
	          	</td>
	          	<td>
		            <input type="text" name="telfixe" class="required numField"/>		
	          	</td>
	          	<td class="formLabel">
					<label>::cp:: *</label>
	          	</td>
	          	<td>	
		            <input type="text" name="cp"  class="required numField"/>
	          	</td>
          	</tr>
          	<tr>
	          	<td class="formLabel">
					<label>::tel:: 2</label>
	          	</td>
	          	<td>
		            <input type="text" name="telport" class="numField"/>		
	          	</td>
	          	<td class="formLabel">
					<label>::ville:: *</label>
	          	</td>
	          	<td>
		            <input type="text" name="ville" class="required len3"/>		
	          	</td>
          	</tr>
          	<tr>
          		<td class="formLabel"></td>
          		<td></td>
	       		<td class="formLabel">
					<label>::pays:: *</label>
	          	</td>
	          	<td>
					<select name="pays" class="coutryDD" size="1">
				    <THELIA_pays type="PAYS" select="#PAYS" zdefinie="1" >
				        <option value="#ID" #DEFAUT>#TITRE</option>
				    </THELIA_pays>
        			</select>
	          	</td>
          	</tr>
          	<tr>
          		<td class="formLabel">
          			<label>::monemail:: *</label>
          		</td>
          		<td>
          			<input type="text" name="email1" class="email emailSrc"/>
          		</td>
          		<td class="formLabel">
          			<label>::monmdp:: *</label>
          		</td>
          		<td>
          			<input name="motdepasse1" type="password" class="pwd pwdSrc"/>
          		</td>
          	</tr>
          	<tr>
          		<td class="formLabel">
          			<label>::confirmationemail:: *</label>
          		</td>
          		<td>
          			<input type="text" class="email emailValid" name="email2"/>
          		</td>
          		<td class="formLabel">
          			<label>::confirmationmdp:: *</label>
          		</td>
          		<td>
          			<input name="motdepasse2" type="password" class="pwd pwdValid"/>
          		</td>
          	</tr>
          </table>
          <div class="popupBtnBox rightForm">
          	  <button type="button" class="cancelBtn">::annuler:: | ::fermer::</button>
	          <button type="button" class="submitBtn">::valider::</button>
          </div>
      	</form>
    </div>
</div>