<div class="popup" title="::ajoutnouvelleadresse::">
	<div class="popupDiv">
		<form action="" method="post" name="nouveau">
			<table class="connectForm">
	      		<tbody>
		      		<tr>
		      			<td class="formLabel">
		      				<label>::libelle:: *</label>
		      			</td>
		      			<td class="formLabel">
		            		<input class="required len3" name="libelle" type="text"/>
		      			</td>
						<td class="formLabel">
							<label>::adresse:: *</label>
			          	</td>
			          	<td>
				            <input class="required len3" name="adresse1" type="text" />		
			          	</td>
		      		</tr>
		          	<tr>
			          	<td class="formLabel">
							<label>::civilite:: *</label>
			          	</td>
			          	<td>
							<select name="raison">
							<THELIA_raison type="RAISON">
								<option value="#ID" #DEFAUT>#LONG</option>
							</THELIA_raison>
				            </select>
			          	</td>
						<td class="formLabel">
							<label>::complementadresse:: 1</label>
			          	</td>
			          	<td>
				            <input class="optional len3" type="text" name="adresse2"/>	
			          	</td>
		          	</tr>
		          	<tr>
			          	<td class="formLabel">
							<label>::nom:: *</label>
			          	</td>
			          	<td>
				            <input class="required len3" name="nom" type="text"/>
			          	</td>
		   				<td class="formLabel">
							<label>::complementadresse:: 2</label>
			          	</td>
			          	<td>
				            <input class="optional len3" type="text" name="adresse3"/>	
			          	</td>
		          	</tr>
		          	<tr>
			          	<td class="formLabel">
							<label>::prenom:: *</label>
			          	</td>
			          	<td>
				            <input class="required len3" name="prenom" type="text"/>
			          	</td>
			          	<td class="formLabel">
							<label>::cp:: *</label>
			          	</td>
			          	<td>	
				            <input class="required cp" name="cp" type="text"/>
			          	</td>
		          	</tr>
		          	<tr>
			          	<td class="formLabel">
							<label>::tel:: *</label>
			          	</td>
			          	<td>
				            <input name="tel" class="required phone" type="text"/>		
			          	</td>
			          	<td class="formLabel">
							<label>::ville:: *</label>
			          	</td>
			          	<td>
				            <input class="required len3" name="ville" type="text"/>		
			          	</td>
		          	</tr>
		          	<tr>
			          	<td class="formLabel"></td>
			          	<td></td>
			          	<td class="formLabel">
			          		<label>::pays:: *</label>
			          	</td>
				        <td>
				            <select name="pays" class="coutryDD" size="1">
						    <THELIA_pays type="PAYS" select="#PAYS" zdefinie="1" >
						        <option value="#ID" #DEFAUT>#TITRE</option>
						    </THELIA_pays>
		        			</select>
			          	</td>
		        	</tr>
		        </tbody>
			</table>
          <div class="popupBtnBox rightForm">
          	  <button type="button" class="cancelBtn">::annuler:: | ::fermer::</button>
	          <button type="button" class="submitBtn">::valider::</button>
          </div>
      	</form>
    </div>
</div>