<div class="popup" title="::modifadresselivraison::">
	<div class="popupDiv">
		<form action="" method="post" name="modifier">
			<THELIA_adr type="ADRESSE" adresse="#ADRESSE_ID" client="#CLIENT_ID">
      		<input name="id" type="hidden" value="#ID" />
			<input name="adresse" type="hidden" value="#ID" />
      		<table class="connectForm">
	      		<tbody>
		      		<tr>
		      			<td class="formLabel">
		      				<label>::libelle:: *</label>
		      			</td>
		      			<td class="formLabel">
		            		<input class="required len3" name="libelle" type="text" value="#LIBELLE"/>
		      			</td>
						<td class="formLabel">
							<label>::adresse:: *</label>
			          	</td>
			          	<td>
				            <input class="required len3" name="adresse1" type="text" value="#ADRESSE1"/>		
			          	</td>
		      		</tr>
		          	<tr>
			          	<td class="formLabel">
							<label>::civilite:: *</label>
			          	</td>
			          	<td>
							<select name="raison">
							<THELIA_raison type="RAISON" select="#RAISON">
				            	<option value="#ID" #SELECTED>#LONG</option>
							</THELIA_raison>
				            </select>
			          	</td>
						<td class="formLabel">
							<label>::complementadresse::</label>
			          	</td>
			          	<td>
				            <input class="optional len3" type="text" name="adresse2" value="#ADRESSE2"/>	
			          	</td>
		          	</tr>
		          	<tr>
			          	<td class="formLabel">
							<label>::nom:: *</label>
			          	</td>
			          	<td>
				            <input class="required len3" name="nom" type="text" value="#NOM"/>
			          	</td>
		   				<td class="formLabel">
							<label>::complementadresse::</label>
			          	</td>
			          	<td>
				            <input class="optional len3" type="text" name="adresse3" value="#ADRESSE3"/>	
			          	</td>
		          	</tr>
		          	<tr>
			          	<td class="formLabel">
							<label for="prenom">::prenom:: *</label>
			          	</td>
			          	<td>
				            <input type="text" name="prenom" class="required len3" value="#PRENOM"/>
			          	</td>
			          	<td class="formLabel">
							<label>::cp:: *</label>
			          	</td>
			          	<td>	
				            <input type="text" name="cp" class="required numField" value="#CPOSTAL"/>
			          	</td>
		          	</tr>
		          	<tr>
			          	<td class="formLabel">
							<label>::tel:: *</label>
			          	</td>
			          	<td>
				            <input type="text" name="tel" class="required numField"  value="#TEL"/>		
			          	</td>
			          	<td class="formLabel">
							<label>::ville:: *</label>
			          	</td>
			          	<td>
				            <input type="text" name="ville" class="required len3" value="#CLIENT_VILLE"/>		
			          	</td>
		          	</tr>
		          	<tr>
			          	<td class="formLabel"></td>
			          	<td></td>
			          	<td class="formLabel"><label>::pays:: *</label></td>
				        <td>
				            <select name="pays" class="coutryDD" size="1">
						    <THELIA_pays type="PAYS" select="#PAYS" zdefinie="1" >
						        <option value="#ID" #SELECTED>#TITRE</option>
						    </THELIA_pays>
		        			</select>
			          	</td>
		        	</tr>
		        </tbody>
			</table>
          </THELIA_adr>
          <div class="popupBtnBox rightForm">
          	  <button type="button" class="cancelBtn">::annuler:: | ::fermer::</button>
	          <button type="button" class="submitBtn">::modifier::</button>
          </div>
      	</form>
    </div>
</div>