#SET{nom} #SET{prenom} #SET{mail}
<THELIA SI CONNECTE>
	#SET{nom,#CLIENT_NOM} #SET{prenom,#CLIENT_PRENOM} #SET{mail,#CLIENT_EMAIL}
</THELIA SI CONNECTE>
<div class="hBox flex-middle top5 bottom5" id="contactBox">
	<address>
		<p class="bold">Stéphanie Mousquey</p>
		<p>Penhouet</p>
		<p>22630 SAINT-ANDRE-DES-EAUX</p>
		<br/>
		<p>email:<span class="stephanie email"></span></p>
		<p>tel:<span class="stephanie phone"></span></p>
	</address>
	<form id="emailForm" class="messageForm" action="sendMail.php">
		<ul class="panel h30">
			<li class="titleBar">Envoyer un message</li>
			<li class="content">
				<table class="connectForm formLayout">
			    	<tr>
			          	<td class="formLabel">
							<label>Nom :</label>
			          	</td>
			          	<td>
							<input tabindex="2" name="name" type="text" class="required len3" value="#GET{nom}"/>
			        	</td>
			        </tr>
			         	<tr>
			          	<td class="formLabel">
							<label>Prénom :</label>
			          	</td>
			          	<td>
							<input tabindex="3" name="firstname" type="text" class="required len3" value="#GET{prenom}"/>
			        	</td>
			        </tr>
			         	<tr>
			          	<td class="formLabel">
							<label>Email :</label>
			          	</td>
			          	<td>
							<input tabindex="4" name="email" type="text" class="required email" value="#GET{mail}"/>
			        	</td>
			        </tr>
			        <tr class="messageRow">
			          	<td class="formLabel" valign="top">
							<label>Message :</label>
			          	</td>
			          	<td>
							<textarea tabindex="5" name="message" rows="8" cols="" class="required"></textarea>
			        	</td>
			        </tr>
			         	<tr>
			         		<td class="formLabel" align="right">
			         			<a id="refresh" href="#" title="Rafraichir"></a>
			         		</td>
			          	<td class="td-captcha">
							<span id="captchaBox">
								<img id="captcha" src="/securimage/securimage_show.php" alt=""/>
							</span>
			          	</td>
			        </tr>
			        <tr>
			        	<td class="formLabel">
							<label>Code de validation :</label>
			        	</td>
			        	<td>
							<input tabindex="6" name="secureimage" type="text" class="required secureimage"/>
			        	</td>
			        </tr>
				</table>
			</li>
			<li class="buttonBar">
				<button id="sendMailBtn" type="submit" disabled="disabled">Envoyer</button>
			</li>
		</ul>
	</form>
</div>