<div class="hidden">
	<img src="template/css/images/gradient_22.jpg"/>
	<img src="template/css/images/gradient_22_active.jpg"/>
	<img src="template/css/images/refresh.png"/>
	<img src="template/css/images/bullet.png"/>
	<img src="template/css/images/arrow1.png"/>
	<img src="template/css/images/arrow1left.png"/>
	<img src="template/css/images/arrow1right.png"/>
	<img src="template/css/images/ariane-sep-10_6.png"/>
	<img src="template/css/images/gradient_100_28.jpg"/>
	<img src="template/css/images/gradient_28.jpg"/>
	<img src="template/css/images/menu-b.png"/>
	<img src="template/css/images/menu-r.png"/>
	<img src="template/css/images/menu-b-on.png"/>
	<img src="template/css/images/menu-r-on.png"/>
	<img src="template/css/images/gradient_100_32.jpg"/>
	<img src="template/css/images/gradient_32.jpg"/>
	<img src="template/css/images/gradient_100_42.jpg"/>
	<img src="template/css/images/gradient_42.jpg"/>
</div>