#SET{size, #VARIABLE(thumbsize)}
				<ul class="ajaxProdList">
				<TEST_count variable="#ENV{count}" test="egal" valeur="1">
					<THELIA_prod type="PRODUIT" nouveaute="1" classement="date">
	   					#SET{count,#__COMPTEUR__}
					</THELIA_prod>
					<input type="hidden" name="count" value="#GET{count}"/>
				</TEST_count>
				<//TEST_count>
					<THELIA_prod type="PRODUIT" nouveaute="1" classement="date" deb="#ENV{start}" num="#VARIABLE(numnews)">
						<li>
							<a href="#URL" class="imgBox" title="">
							<THELIA_IMAGE type="IMAGE" num="1" produit="#ID" hauteur="#GET{size}" largeur="#GET{size}">
								<img src="#IMAGE" alt="" title=""/>
							</THELIA_IMAGE>
							</a>
						</li>
					</THELIA_prod>
					</ul>