
.imgCtn {
    width: 100%;
    position: relative;
}

.imgCtn>img {
    position: absolute;
    cursor: pointer;
}

mat-progress-bar {
    width: 50vw;
    position: fixed;
    left: 25vw;
    top: 50vh;
}