.menu-ctn { 
    font-size: .5em;
    margin-bottom: 1em;
}
i {
    cursor: pointer;
}
.card-box {
    position: relative;
}
.card-box > div > span {
    padding: 0;
    margin: 0;
    font-weight: bold;
}
.card-box .ripple {
    /* 
    margin-top: 9px;
    position: absolute;
    top:9pw;
    top: 50%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    */
}
.card-box > div.art-count {
    cursor: pointer;
    font-size: 11px;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    position: absolute;
    right: -33%;
    top: -33%;
}