/*
:host {
    position: relative;
}

mat-card {
    min-width: 300px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
*/
mat-card {
    min-width: 300px;
}

.contry {
    font-style: italic;
}

.cp-town {
    font-weight: bold;
}