.svgFactory {
	visibility: hidden;
	position: fixed;
}

/* svg styles */
.light {
	fill: url(#light-fill);
}

.bg-fill {
	fill: url(#bg-fill);
}

.bg-stroke {
	fill: url(#bg-stroke);
}

.cross-stroke {
	fill: url(#cross-stroke);
}

.cross-fill {
	fill: url(#cross-fill);
}

.arrow-stroke {
	fill: url(#arrow-stroke);
}

.arrow-fill {
	fill: url(#arrow-fill);
}

/* svg states */
.btn.active {
	cursor: pointer;
}

.btn.active .bg-stroke {
	fill: url(#focus-fill);
}

.btn.down .bg-fill {
	fill: url(#down-fill);
}

.btn.down .light {
	opacity: 0;
}