.ariane {
  display: inline-block;
  margin: 8px 0;
  padding: 0;
}

.ariane > li {
  display: inline-block;
  list-style: none;
  color: white;
  font-size: 15px;
}

.ariane > li > span,
.ariane > li > a {
  padding: 2px;
}

.ariane > li > a {
  background: linear-gradient(#202020, #3c3c3c, #1d1d1d);
}

.ariane > li:nth-child(n + 2) {
  padding-left: 9px;
  background-repeat: no-repeat;
  background-position: -4px 2px;
  background-image: url("./images/menu-r.png");
}

.ariane > li > a {
  border-radius: 4px;
}

.ariane > li > a:hover {
  background: linear-gradient(#181818, #5c5c5c, #1b1b1b);
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
}

#header dt {
  position: relative;
}

#header > dt > a {
  line-height: 0;
  display: block;
  width: 100%;
  height: 100%;
}

#header > dd {
  margin: 15px 0 0 0;
  padding: 0;
}

#menu {
  z-index: 900;
  width: 960px;
  font-family: Flati;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

#menu * {
  font-family: Flati;
}

#menu span {
  cursor: default;
  pointer-events: none;
}

#menu li {
  position: relative;
  cursor: pointer;
}

#menu li a,
#menu li span {
  white-space: nowrap;
  display: block;
  padding: 0 4px;
  font-size: 17px;
  line-height: 28px;
  vertical-align: middle;
}

#menu li.v-item > a,
#menu li.v-item > span {
  font-size: 12px;
}

#menu li {
  background-color: #202020;
  color: #e0e0e0;
}

#menu li.on {
  background-color: #d0d0d0;
  color: #333333;
  background-position: right top, left top;
  background-repeat: no-repeat, repeat-x;
  background-size: auto auto;
  background-image: url("./images/gradient_100_28.jpg"), url("./images/gradient_28.jpg");
}

#menu li.active {
  box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.8);
}
#menu li ul {
  display: none;
}

#menu li.ctn-item > a,
#menu li.ctn-item > span {
  padding-right: 16px;
  background-repeat: no-repeat;
  background-position: right center;
}

#menu li.ctn-item.h-item > a,
#menu li.ctn-item.h-item > span {
  background-image: url("./images/menu-b.png");
}

#menu li.ctn-item.v-item > a,
#menu li.ctn-item.v-item > span {
  background-image: url("./images/menu-r.png");
}

#menu li.on.ctn-item.h-item > a,
#menu li.on.ctn-item.h-item > span {
  background-image: url("./images/menu-b-on.png");
}

#menu li.on.ctn-item.v-item > a,
#menu li.on.ctn-item.v-item > span {
  background-image: url("./images/menu-r-on.png");
}

#menu li.active > ul {
  display: block;
}

#menu ul {
  display: none;
  position: absolute;
  top: 100%;
  box-shadow: 2px 4px 6px #000000;
}

#menu ul ul {
  position: absolute;
  left: 100%;
  top: 0px;
}

#menu .h-item.ctn-item > ul {
  min-width: 100%;
}
