
.panel {
	border: 1px solid #9A671E;
	overflow: hidden;
	background-color: #111111;
	color: white;
}

.panel > li {
	list-style: none;
	padding: 0;
	margin: 0;
}

.panel.popUp {
	display: none;
}
form.on .panel, .panel.popUp.on {
	display: block;
}

li.titleBar {
	font-weight: bold;
	border: none;
	background: none;
	border-radius: 0;
	background-image: none;
	background-position: right top, left top;
	background-repeat: no-repeat, repeat-x;
	background-origin: border-box;
	background-clip: border-box;
	border-bottom: 1px solid #9A671E;
	vertical-align: middle;
	color: #444444;
	padding: 0 8px;
	font-size: 16px;
	vertical-align: middle;
}

.popUp {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.h30 > li.titleBar {
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	background-image: url("./images/gradient_100_32.jpg"),
		url("./images/gradient_32.jpg");
}

.h42 > li.titleBar {
	height: 42px;
	line-height: 42px;
	background-image: url("./images/gradient_100_42.jpg"),
		url("./images/gradient_42.jpg");
}

.panel > li.content {
	height: auto;
	overflow: auto;
	padding: 5px;
}

.panel > li.content.nopad {
	padding: 0;
}

.panel > li.buttonBar {
	padding: 4px 0;
	padding-left: 4px;
	border-top: 1px solid #9A671E;
	background: linear-gradient(#111111, #666666, #444444, #111111);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-content: flex-start;
	align-items: baseline;
}

.panel > li.buttonBar > * {
	margin-right: 4px;
}

#panierPopup p {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	margin: 15px 0;
}
