#SET{cli,#CLIENT_ID}
#SET{id,#FILTRE_ajaxform(adresse||0)}
<ul class="panel popUp h30">
	<li class="titleBar">::modifadresselivraison::</li>
	<li class="content">
	<THELIA_adr type="ADRESSE" id="#GET{id}" client="#GET{cli}">
		<form action="#URLFOND(ajax/modifierlivraison)" method="post">
      		<input type="hidden" name="client_id" value="#GET{cli}"/>
      		<input name="id" type="hidden" value="#ID"/>
			<input name="adresse" type="hidden" value="#ID"/>
			<input name="entreprise" type="hidden" value=""/>
      		<table class="connectForm formLayout">
	      		<tbody>
		      		<tr>
		      			<td class="formLabel">
		      				<label>::libelle:: *</label>
		      			</td>
		      			<td>
		            		<input tabindex="2" class="required len3" name="libelle" type="text" value="#LIBELLE"/>
		      			</td>
						<td class="formLabel">
							<label>::adresse:: *</label>
			          	</td>
			          	<td>
				            <input tabindex="6" class="required len3" name="adresse1" type="text" value="#ADRESSE1"/>		
			          	</td>
		      		</tr>
		          	<tr>
			          	<td class="formLabel">
							<label>::civilite:: (#RAISON) *</label>
			          	</td>
			          	<td>
							<select name="raison" tabindex="3">
							<THELIA_raison type="RAISON" select="#ADRESSE_RAISONID">
				            	<option value="#ID" #SELECTED>#LONG</option>
							</THELIA_raison>
				            </select>
			          	</td>
						<td class="formLabel">
							<label>::complementadresse::</label>
			          	</td>
			          	<td>
				            <input tabindex="7" class="optional len3" type="text" name="adresse2" value="#ADRESSE2"/>	
			          	</td>
		          	</tr>
		          	<tr>
			          	<td class="formLabel">
							<label>::nom:: *</label>
			          	</td>
			          	<td>
				            <input tabindex="4" class="required len3" name="nom" type="text" value="#NOM"/>
			          	</td>
		   				<td class="formLabel">
							<label>::complementadresse::</label>
			          	</td>
			          	<td>
				            <input tabindex="8" class="optional len3" type="text" name="adresse3" value="#ADRESSE3"/>	
			          	</td>
		          	</tr>
		          	<tr>
			          	<td class="formLabel">
							<label for="prenom">::prenom:: *</label>
			          	</td>
			          	<td>
				            <input tabindex="4" type="text" name="prenom" class="required len3" value="#PRENOM"/>
			          	</td>
			          	<td class="formLabel">
							<label>::cp:: *</label>
			          	</td>
			          	<td>	
				            <input tabindex="9" type="text" name="cpostal" class="required numField" value="#CPOSTAL"/>
			          	</td>
		          	</tr>
		          	<tr>
			          	<td class="formLabel">
							<label>::tel:: *</label>
			          	</td>
			          	<td>
				            <input tabindex="5" type="text" name="tel" class="required numField"  value="#TEL"/>		
			          	</td>
			          	<td class="formLabel">
							<label>::ville:: *</label>
			          	</td>
			          	<td>
				            <input tabindex="10" type="text" name="ville" class="required len3" value="#CLIENT_VILLE"/>		
			          	</td>
		          	</tr>
		          	<tr>
			          	<td class="formLabel"></td>
			          	<td></td>
			          	<td class="formLabel"><label>::pays:: *</label></td>
				        <td>
				            <select name="pays" class="countryDD" size="1" tabindex="11">
						    <THELIA_pays type="PAYS" select="#PAYS" zdefinie="1" >
						        <option value="#ID" #SELECTED>#TITRE</option>
						    </THELIA_pays>
		        			</select>
			          	</td>
		        	</tr>
		        </tbody>
			</table>
      	</THELIA_adr>
      	</form>
    </li>
	<li class="buttonBar">
		<button type="button" class="cancelBtn">::annuler:: | ::fermer::</button>
		<button type="button" class="submitBtn">::modifier::</button>
	</li>
</ul>