<ul class="panel popUp h30">
	<li class="titleBar">::ajoutnouvelleadresse::</li>
	<li class="content">
		<form action="#URLFOND(ajax/creerlivraison)" method="post">
      		<input type="hidden" name="client_id" value="#CLIENT_ID"/>
			<input name="entreprise" type="hidden" value=""/>
			<table class="connectForm formLayout">
	      		<tbody>
		      		<tr>
		      			<td class="formLabel">
		      				<label>::libelle:: *</label>
		      			</td>
		      			<td class="formLabel">
		            		<input tabindex="2" class="required len3" name="libelle" type="text"/>
		      			</td>
						<td class="formLabel">
							<label>::adresse:: *</label>
			          	</td>
			          	<td>
				            <input tabindex="7" class="required len3" name="adresse1" type="text" />		
			          	</td>
		      		</tr>
		          	<tr>
			          	<td class="formLabel">
							<label>::civilite:: *</label>
			          	</td>
			          	<td>
							<select tabindex="3" name="raison">
							<THELIA_raison type="RAISON">
								<option value="#ID" #DEFAUT>#LONG</option>
							</THELIA_raison>
				            </select>
			          	</td>
						<td class="formLabel">
							<label>::complementadresse:: 1</label>
			          	</td>
			          	<td>
				            <input tabindex="8" class="optional len3" type="text" name="adresse2"/>	
			          	</td>
		          	</tr>
		          	<tr>
			          	<td class="formLabel">
							<label>::nom:: *</label>
			          	</td>
			          	<td>
				            <input tabindex="4" class="required len3" name="nom" type="text"/>
			          	</td>
		   				<td class="formLabel">
							<label>::complementadresse:: 2</label>
			          	</td>
			          	<td>
				            <input tabindex="9" class="optional len3" type="text" name="adresse3"/>	
			          	</td>
		          	</tr>
		          	<tr>
			          	<td class="formLabel">
							<label>::prenom:: *</label>
			          	</td>
			          	<td>
				            <input tabindex="5" class="required len3" name="prenom" type="text"/>
			          	</td>
			          	<td class="formLabel">
							<label>::cp:: *</label>
			          	</td>
			          	<td>	
				            <input tabindex="10" class="required numField" name="cpostal" type="text"/>
			          	</td>
		          	</tr>
		          	<tr>
			          	<td class="formLabel">
							<label>::tel:: *</label>
			          	</td>
			          	<td>
				            <input tabindex="6" name="tel" class="required numField" type="text"/>		
			          	</td>
			          	<td class="formLabel">
							<label>::ville:: *</label>
			          	</td>
			          	<td>
				            <input tabindex="11" class="required len3" name="ville" type="text"/>		
			          	</td>
		          	</tr>
		          	<tr>
			          	<td class="formLabel"></td>
			          	<td></td>
			          	<td class="formLabel">
			          		<label>::pays:: *</label>
			          	</td>
				        <td>
				            <select name="pays" class="countryDD" size="1" tabindex="12">
						    <THELIA_pays type="PAYS" select="#PAYS" zdefinie="1" >
						        <option value="#ID" #DEFAUT>#TITRE</option>
						    </THELIA_pays>
		        			</select>
			          	</td>
		        	</tr>
		        </tbody>
			</table>
        </form>
	</li>
	<li class="buttonBar">
		<button type="button" class="cancelBtn">::annuler:: | ::fermer::</button>
	    <button type="button" class="submitBtn">::valider::</button>
	</li>
</ul>