<form action="#URLFOND(ajax/ajaxconnexion)" method="post" 
      id="connexionForm" class="formAdr popUpForm">
	<ul class="panel popUp h30">
		<li class="titleBar">::connexion::</li>
		<li class="content">
			<p class="emailmdperr">::emailmdperr::</p>
			<table class="formLayout w200">
				<tr>
					<td class="formLabel">
						<label>::monemail::</label>
				    </td>
				    <td>
						<input tabindex="2" name="email" type="text"/>
					</td>
				</tr>
				<tr>
					<td class="formLabel">
				    	<label>::monmdp::</label>
					</td>
				    <td>
						<input tabindex="3" name="motdepasse" type="password"/>
					</td>
				</tr>
				<tr>
					<td colspan="2" align="right"><a href="#URLFOND(mdpoublie)">::mdpperduoublie::</a></td>
				</tr>
			</table>
		</li>
		<li class="buttonBar">
	    	<button type="button" class="cancelBtn">::fermer::</button>
	       	<button type="submit" class="submitBtn">::valider::</button>
		</li>
	</ul>
</form>