<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <descriptif lang="fr">
    <titre>Retrait atelier</titre>
    <chapo></chapo>
    <description>Gesion du retrait atelier</description>
    <postscriptum></postscriptum>
  </descriptif>
  <version>1.0</version>
  <auteur>
    <nom>Raphael Volt</nom>
    <societe></societe>
    <email>raphael@ketmie.com</email>
    <web></web>
  </auteur>
  <type>transport</type>
  <prerequis/>
  <thelia>1.5.1</thelia>
  <etat>production</etat>
  <documentation>Readme.txt</documentation>
  <urlmiseajour></urlmiseajour>
</plugin>
