<TEST_produits variable="#RUBRIQUE_LIEN" test="egal" valeur="produits">
#INCLURE "template/produit-liste.html"
</TEST_produits>
<!doctype html>
<html lang="fr">
<head>
#SET{numProd,#FILTRE_ketmiemenu(numProd||#RUBRIQUE_ID)}
#SET{numRub,#FILTRE_ketmiemenu(numRub||#RUBRIQUE_ID)}
<TEST_prod variable="#GET{numProd}" test="different" valeur="0">
#FILTRE_cssutils(add||#FILTRE_imagelist(css||#RUBRIQUE_ID||740||200||5))
</TEST_prod>
<//TEST_prod>
#INCLURE "template/custom/head.html"
</head>
<body>
#FILTRE_ketmiemenu(spip||0)
#INCLURE "template/custom/panier_box.html"
<div id="main">
#FILTRE_ketmiemenu(thelia||#RUBRIQUE_ID)
	<div id="content">
		<TEST_rub variable="#GET{numRub}" test="different" valeur="0">
		<div class="panelBorder bottom10 bgBlack">
			<h1>DANS CETTE RUBRIQUE</h1>
			<div class="margin5">
				<ul class="navList rubriques">
				<THELIA_RUBRIQUES type="RUBRIQUE" classement="manuel" parent="#RUBRIQUE_ID">
					<li class="off"><a href="#URL">#TITRE</a></li>
				</THELIA_RUBRIQUES>
				</ul>
			</div>
		</div>
		</TEST_rub>
		<//TEST_rub>
		<div class="panelBorder">
			<h1>#RUBRIQUE_NOM</h1>
			<TEST_prod variable="#GET{numProd}" test="different" valeur="0">
			#FILTRE_imagelist(html||#RUBRIQUE_ID)
			</TEST_prod>
			<//TEST_prod>
			<TEST_contenu variable="#RUBRIQUE_DESCRIPTION" test="different" valeur="">
			#RUBRIQUE_DESCRIPTION
			</TEST_contenu>
			<p>Aucune desription disponible.</p>
			<//TEST_contenu>
		</div>
	</div>
</div>
#INCLURE "template/custom/footer.html"
#INCLURE "template/custom/popup.html"
</body>
</html>
<//TEST_produits>