#PARAM_FOND_nopageret=1 #PARAM_FOND_securise=1 #PARAM_FOND_panier=1
#SET{active,#ADRESSE_ACTIVE}
<!DOCTYPE html>
<html>
<head>
#INCLURE "template/custom/head.html"
<script>
$(document).ready(function()
{		
	$(".updateCoordsBtn").click(
		function()
		{
			formController.updateCoords("#URLFOND(ajax/form/accountForm)");
		});

	$(".editAddrBtn").click(
		function()
		{
			formController.updateAddress("#URLFOND(ajax/form/addrForm)", $(this)); //Connection("#URLFOND(ajax/connectUpdateForm)");
		});
		
	$(".radioBox input").change(
		function(event) 
		{
			var btn = $("#transForm button");
			if(btn.prop("disabled"))
			{
				btn.prop("disabled", false);
				var id = $(this).val();
				$("#transForm input[name='id']").val(id);
			}
		});
	
	var o = {};
	o.position = {my:"left top", at:"left bottom", collision:"flip"};
	o.change = function(event, ui)
	{
		if(ui.item.value == "")
			return;
		window.location.href = ("#URLFOND(adresse,action=modadresse&adresse=)" + ui.item.value).replace(/amp;/g, "");
	};
	
	$("#addressSelect").selectmenu(o);
	
	$(".radioBox input").change(
		function(event) 
		{
			var btn = $("#transForm button");
			if(btn.prop("disabled"))
			{
				btn.prop("disabled", false);
				var id = $(this).val();
				$("#transForm input[name='id']").val(id);
			}
		}
	)
});
</script>
</head>
<body>
	<header>
	#INCLURE "template/header.html"
	</header>
	<ul id="commandState" class="hBox nowrap top15">
	    <li class="selection"><span>::facturationlivraison::</span></li>
	    <li><span>::verifcommande::</span></li>
	    <li><span>::paiementsecurise::</span></li>
	</ul>
	<div id="content" class="top15">
		<ul class="panel h42">
			<li class="titleBar">::coordonnees::</li>
			<li class="content hBox">
				<ul class="panel h30 top5 bottom5">
					<li class="titleBar">::facturation::</li>
					<li class="content">
						<ul>
		       				<li>#CLIENT_RAISON #CLIENT_NOM #CLIENT_PRENOM</li>
		       				<li>#CLIENT_ADRESSE1</li>
		       				#FILTRE_vide(#CLIENT_ADRESSE2||<li>#CLIENT_ADRESSE2</li>)
		     				#FILTRE_vide(#CLIENT_ADRESSE3||<li>#CLIENT_ADRESSE3</li>)
		     				<li>#CLIENT_CPOSTAL #CLIENT_VILLE</li>
		     				<li>#CLIENT_PAYS</li>
		       			</ul>
					</li>
					<li class="buttonBar">
						<button class="updateCoordsBtn">::modifier::</button>
					</li>
				</ul>
				<ul class="panel h30 top5 bottom5">
					<li class="titleBar">::livraison::</li>
					<li class="content">
					<THELIA_adrcours type="ADRESSE" adresse="#ADRESSE_ACTIVE">
		       			<ul>
		       				<li>#RAISON #NOM #PRENOM</li>
		       				<li>#ADRESSE1</li>
		       				#FILTRE_vide(#ADRESSE2||<li>#ADRESSE2</li>)
		     				#FILTRE_vide(#ADRESSE3||<li>#ADRESSE3</li>)
		     				<li>#CPOSTAL #VILLE</li>
		     				<li><THELIA_pays type="PAYS" id="#PAYS">#TITRE</THELIA_pays></li>
		     				<li class="top5">
		     				<TEST_c1 variable="#GET{active}" test="different" valeur="0">
							<input type="hidden" value="#ID"/>
							<button class="editAddrBtn">::modifier::</button>
							</TEST_c1>
							<button class="updateCoordsBtn">::modifier::</button>
							<//TEST_c1>
							</li>
		       			</ul>
						</THELIA_adrcours>
						<T_adr>
						<div class="livraison">
							<p class="sizeM bold top5 bottom5">::autreadresse:: :</p>
							<select id="addressSelect">
								<TEST_c1 variable="#GET{active}" test="egal" valeur="0">
								<option value="0" selected="selected">::adressefacturation::</option>
								</TEST_c1>
								<option value="0">::adressefacturation::</option>
								<//TEST_c1>
								<THELIA_adr type="ADRESSE" client="#CLIENT_ID">
								<TEST_c2 variable="#GET{active}" test="egal" valeur="#ID">
								<option value="0" selected="selected">#LIBELLE</option>
								</TEST_c2>
								<option value="#ID">#LIBELLE</option>
								<//TEST_c2>
								</THELIA_adr>
							</select>
						</div>
						</T_adr>
							<p class="italic sizeM top5">::noaddess::</p>
						<//T_adr>
					</li>
					<li class="buttonBar">
					 	<button class="addAddrBtn">Ajouter une adresse</button>
					</li>
				</ul>
				<ul class="panel h30 top5 bottom5">
					<li class="titleBar">::transport::</li>
					<li class="content">
						<p class="sizeM bold">::choixmodelivraison:: :</p>
						<THELIA_transport type="TRANSPORT">
		          		<div class="radioBox top5">
					    	<input type="radio" value="#ID" id="t#ID"/>
					    	<label for="t#ID">#TITRE / #PORT ::euro::</label>
					    </div>
               			</THELIA_transport>
					</li>
				</ul>
			</li>
			<li class="buttonBar">
                <form action="#VARIABLE(urlsite)" method="get" id="transForm">
                	<input type="hidden" name="fond" value="commande"/>
                	<input type="hidden" name="action" value="transport"/>
			    	<input type="hidden" name="id" value=""/>
		            <button type="submit" disabled="disabled">::nextstep::</button>		                	
                </form>
            </li>
        </ul>
	</div>
</div>
#INCLURE "template/custom/footer.html"
</body>
</html>
