<!doctype html>
<html lang="fr">
<head>
#SET{newProd,6}
#SET{allProd,12}
#INCLURE "template/custom/head.html"
</head>
<body>
#FILTRE_ketmiemenu(spip||0)
#INCLURE "template/custom/panier_box.html"
<div id="main">
#FILTRE_ketmiemenu(thelia_prod||0)
	<div id="content" class="produitsCtn">
			<div id="newsPanel" class="col0 panelBorder bottom10 bgBlack">
				<h1 class="titleField">Nouveautés</h1>
				<div class="center">
				<div class="ajaxProdButtonBar">
					<button disabled="disabled" class="prevBtn">&lt;</button>
					<span class="prodInfoField"></span>
					<button disabled="disabled" class="nextBtn">&gt;</button>
				</div>
				</div>
				<ul class="ajaxProdList">
				</ul>
			</div>
			<div id="prodPanel" class="col1 panelBorder bottom10 bgBlack">
				<h1 class="titleField">Tous les produits</h1>
				<div class="center">
				<div class="ajaxProdButtonBar">
					<button disabled="disabled" class="prevBtn">&lt;</button>
					<span class="prodInfoField"></span>
					<button disabled="disabled" class="nextBtn">&gt;</button>
				</div>
				</div>
				<ul class="ajaxProdList">
				</ul>
			</div>
		</div>
	</div>
</div>
#INCLURE "template/custom/footer.html"
#INCLURE "template/custom/popup.html"
</body>
</html>