
<!DOCTYPE html>
<html>
<head>
#INCLURE "template/custom/head.html"	
<script type="text/javascript">
var imgPopUp = new ImgPopUp();

$(document).ready(function()
{
	imgPopUp.setup($(".popup").first(), $(".img-prod-desc").first());
	
	$("#ajouterPanier").click(function()
	{
		$("#prodForm").submit();	
	});
	<TEST_popup variable="#ENV{panier}" test="superieur" valeur="0">
	formController.panierAction();
	</TEST_popup>
	<TEST_isBo variable="#GET{isBo}" test="egal" valeur="1">
#INCLURE "template/js/radio-box.js"	
	$("#ajouterPanier").attr("disabled", "disabled");
	</TEST_isBo>
	<//TEST_isBo>
	<//TEST_popup>
});

function setPrix(value) {
	document.getElementById('price-display').innerHTML = value;
}
</script>
</head>
<body>
	<header>
	#INCLURE "template/header.html"
	#SET{prev, #FILTRE_menu(prodPrev||#PRODUIT_ID||0)}
	</header>
	<div id="content" class="top15">
	<THELIA_PROD type="PRODUIT" id="#PRODUIT_ID">
		#SET{prod, #ID} #SET{prix, #PRIX}
		<div class="produitDesc">
		#FILTRE_imglist(produit||#PRODUIT_ID||475||100||5)
		<ul class="panel h42">
			<li class="titleBar nearBar">
				<TEST_nav variable="#GET{prev}" test="nonvide">
					<form class="inlineFrom" action="#GET{urlSite}" method="get">
						<input type="hidden" name="fond" value="produit"/> 
						<input type="hidden" name="id_produit" value="#GET{prev}"/> 
						<input type="hidden" name="id_rubrique" value="#RUBRIQUE_ID"/> 
						<button type="submit" class="prevBtn"><img src="template/css/images/icon-btn-prev.png"/></button>
					</form>
					<span>#TITRE</span>
					<form class="inlineFrom" action="#GET{urlSite}" method="get">
						<input type="hidden" name="fond" value="produit"/> 
						<input type="hidden" name="id_produit" value="#FILTRE_menu(prodNext||#PRODUIT_ID||0)"/> 
						<input type="hidden" name="id_rubrique" value="#RUBRIQUE_ID"/> 
						<button type="submit" class="nextBtn"><img src="template/css/images/icon-btn-next.png"/></button>
					</form>
				</TEST_nav>
					<span>#TITRE</span>
				<//TEST_nav>
			</li>
			<li class="content">
			
			
			
			<form id="prodForm" action="#AJOUTER_PARAMETRE(#URLCOURANTE,panier=1)" method="post">
				<input type="hidden" name="action" value="ajouter"/>
				<input type="hidden" name="ref" value="#REF"/>
				<input type="hidden" name="quantite" value="1"/>
				
				<ul>
				<THELIA_decli type="DECLINAISON" rubrique="#RUBRIQUE" produit="#ID">
					<li><span>#TITRE</span>
					<ul>
					<T_dpx>
					<THELIA_dpx type="DECLIPRIX" declinaison="#ID" produit="#PRODUIT" index="1">
					<TEST_index variable="#INDEX" test="egal" valeur="0">
					#SET{prix, #PRIX}
					</TEST_index><//TEST_index>
						<li class="radioBox dpx">
						    <input #FILTRE_egalite(#INDEX||0||checked="checked") id="declidisp_#DECLIDISP" 
						     onchange="setPrix('#PRIX');"  type="radio" name="declinaison#DECLINAISON" value="#DECLIDISP">
						    <label for="declidisp_#DECLIDISP">#TITRE | #PRIX €</label>
					  	</li>
					</THELIA_dpx>
					</T_dpx>
					#SET{check, 0}
					<THELIA_disp type="DECLIDISP" classement="manuel" declinaison="#ID" produit="#PRODUIT">
						<li class="radioBox">
						    <input #FILTRE_egalite(#GET{check}||0||checked="checked") id="declidisp_#ID" 
						    	type="radio" name="declinaison#DECLINAISON" value="#ID">
						    <label for="declidisp_#ID">#TITRE</label>
					  	</li>
					  	#SET{check, 1}
                    </select>
					</THELIA_disp>
					<//T_dpx>
					</ul>
					</li>
				</THELIA_decli>
				</ul>
				
			
			
				
				<!-- FILTRE_carac(produit||#ID)
				SET{price,#FILTRE_carac(produitPrice||#ID)}
				 -->
				<p class="bold sizeX">Prix : <span id="price-display">#GET{prix}</span> ::euro::</p>
			</form>
			
			
			</li>
			<li class="buttonBar">
				<div class="panelButtonBar">
					<button type="submit" id="ajouterPanier">::ajouterpanier::</button>
				</div>				
			</li>
		</ul>
		</div>
	</div>
#INCLURE "template/custom/footer.html"
<TEST_popup variable="#ENV{panier}" test="superieur" valeur="0">
#INCLURE "template/ajax/form/panierPopup.html"
</TEST_popup>
#INCLURE "template/ajax/form/connectForm.html"
#INCLURE "template/svg/imgPopUp.html"
<//TEST_popup>
</THELIA_PROD>
</body>
</html>