@font-face {
  font-family: 'ketmie-icons';
  src:  url('fonts/ketmie-icons.eot?7zior0');
  src:  url('fonts/ketmie-icons.eot?7zior0#iefix') format('embedded-opentype'),
    url('fonts/ketmie-icons.ttf?7zior0') format('truetype'),
    url('fonts/ketmie-icons.woff?7zior0') format('woff'),
    url('fonts/ketmie-icons.svg?7zior0#ketmie-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ketmie-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ketmie-icons_address-card:before {
  content: "\e900";
}
.ketmie-icons_address-cord-o:before {
  content: "\e901";
}
.ketmie-icons_chevron-left:before {
  content: "\e902";
}
.ketmie-icons_chevron-left-circle:before {
  content: "\e903";
}
.ketmie-icons_chevron-right-03:before {
  content: "\e904";
}
.ketmie-icons_chevron-right-13:before {
  content: "\e905";
}
.ketmie-icons_close:before {
  content: "\e906";
}
.ketmie-icons_close-circle:before {
  content: "\e907";
}
.ketmie-icons_close-circle-o:before {
  content: "\e908";
}
.ketmie-icons_cogs:before {
  content: "\e909";
}
.ketmie-icons_exclamation:before {
  content: "\e90a";
}
.ketmie-icons_exclamation-circle:before {
  content: "\e90b";
}
.ketmie-icons_home:before {
  content: "\e90c";
}
.ketmie-icons_menu-1:before {
  content: "\e90d";
}
.ketmie-icons_menu-2:before {
  content: "\e90e";
}
.ketmie-icons_shop-card:before {
  content: "\e90f";
}
.ketmie-icons_user:before {
  content: "\e910";
}
.ketmie-icons_user-circle:before {
  content: "\e911";
}
.ketmie-icons_user-circle-o:before {
  content: "\e912";
}
.ketmie-icons_user-o:before {
  content: "\e913";
}
