<meta charset="utf-8">
<meta name="description" content="">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Boutique Ketmie</title>
<link rel="stylesheet" href="template/css/globals.css">
<link rel="stylesheet" href="template/css/menu.css">
<link rel="stylesheet" href="template/css/boutique.css">
<style type="text/css">
<!--
@font-face {
    font-family: 'Flati';
    src: url('./fonts/flati-webfont.eot');
    src: url('./fonts/flati-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/flati-webfont.woff2') format('woff2'),
         url('./fonts/flati-webfont.woff') format('woff'),
         url('./fonts/flati-webfont.ttf') format('truetype'),
         url('./fonts/flati-webfont.svg#flatironitc_ttregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.img_list_5 {display:none}
#img_list_6 {overflow:hidden; width:438px; height:98px; position:relative}
#img_list_6 li {position:absolute}
#img_list_6 #img_prod_3 {left:0px; top:0px}
#img_list_6 #img_prod_4 {left:70.17px; top:0px}
#img_list_6 #img_prod_6 {left:140.35px; top:0px}
#img_list_6 #img_prod_7 {left:291.67px; top:0px}
-->
</style>		
<link rel="stylesheet" href="template/js/libs/jquery-ui.css" type="text/css" />
<link rel="stylesheet" href="template/css/ui.css" type="text/css" />
<link rel="stylesheet" href="template/css/imgGrid.css" type="text/css" />
<script src="template/js/libs/jquery.js" type="text/javascript"></script>
<script src="template/js/libs/jquery-ui.js" type="text/javascript"></script>
<script src="template/js/ImgGridController.js" type="text/javascript"></script>
<script src="template/js/HLayout.js" type="text/javascript"></script>
<script src="template/js/AjaxFormController.js" type="text/javascript"></script>
<script src="template/js/libs/jquery.validate.js" type="text/javascript"></script>
<script src="template/js/validatorInit.js" type="text/javascript"></script>
<script type="text/javascript">
$(window).load(
	function() {
		$(".navList").each(
			function(index)
			{
				new HLayout($(this), 2, 15);
			}
		);
		$("body").fadeTo(200, 1);
		$( window ).resize(windowResizeHandler);
		windowResizeHandler();	
	}
);
function windowResizeHandler()
{
	var w = $(window).width();
	var h = $(window).height();
	var by = $("#main").offset().top;
	var bh = $("#content").height();
	var fh = $("footer").height();
	var fm = parseInt($("footer").css("marginTop").replace('px', ''));
	if(bh + fh  + by  + fm < h)
		$("#main").height(h - fh - by - fm);
	else
		$("#main").css("height", "auto");
}
var formController = new AjaxFormController();
$(document).ready(function(){
	$("body").fadeTo(0,0);
	$(".radioBox input").change(
		function(event)
		{
			var btn = $("#ajouterPanier");
			if(btn.prop("disabled"))
			{
				btn.prop("disabled", false);
			}
		}
	);	
	new ImgGridController("#popBox", "#popCtn", ".gridContainer", "#prod_img");	
    formController.redirect = "http://thelia.ketmie.com/?fond=produit&amp;id_produit=5&amp;id_rubrique=6";
	$(".connectLink").click(function(event)
	{
		event.preventDefault();
		formController.showConnection();
		return false;
	});
	$(".newAccountLink").click(function(event)
	{
		event.preventDefault();
		formController.createAccount("http://thelia.ketmie.com/?fond=ajax/form/accountFormNew");
		return false;
	});
	$("select").selectmenu();
	$(".metal-select").selectmenu({change:metalChangeHandler});			
	function metalChangeHandler(event, ui)
	{
		var index = Number(ui.item.index);
		var ul = $(".produit-select ul").first();
		ul.find("input:checked").removeAttr("checked");
		var parent = ul.find("li.on")
		parent.removeClass("on").addClass("off");
		parent = ul.find("li:eq(" + index + ")").first();
		parent.removeClass("off").addClass("on");
		$("#ajouterPanier").attr("disabled", "disabled");
	}
	$("#ajouterPanier").attr("disabled", "disabled");
});
</script>
<style>
.produit-select li.off
{
display: none;
}
.produit-select li.on
{
display: block;
}
</style>
</head>
<body>
<dl id="header">
  <dt>
    <strong class="hidden">Ketmie, création de bijoux et de collages par Stéphanie Mousquey</strong>
    <a href="http://spip.ketmie.com">
      <img src="http://spip.ketmie.com/images/header.jpg"/>
    </a>
  </dt>
  <dd>
    <ul class="navList">
      <li class="off">
        <a class="off" href="http://spip.ketmie.com/spip.php?rubrique1">Accueil</a>
      </li>
      <li class="off">
        <a class="off" href="http://spip.ketmie.com/spip.php?rubrique2">Bijoux</a>
      </li>
      <li class="off">
        <a class="off" href="http://spip.ketmie.com/spip.php?rubrique3">Collages</a>
      </li>
      <li class="on">
        <a class="on" href="http://thelia.ketmie.com">Boutique</a>
      </li>
      <li class="off last">
        <a class="off" href="http://spip.ketmie.com/spip.php?rubrique5">Contact</a>
      </li>
    </ul>
  </dd>
</dl>
<div id="panierBox">
	<div id="panier">
		<ul id="headerPanier">
        	<li>
        		<a href="http://thelia.ketmie.com/?fond=panier" class="panier"><img src="./template/_gfx/cadis.png" alt="Panier" />&nbsp;PANIER | 0 article(s)</a>	
			</li>
		</ul>
	</div>	
	<ul id="compte">
		<li class="on"><a href="http://thelia.ketmie.com/?fond=moncompte" class="compteLink">Mon compte</a></li>
		<li class="on"><a href="http://thelia.ketmie.com/?fond=produit&amp;id_produit=5&amp;id_rubrique=6&amp;action=deconnexion">Déconnexion</a></li>
		<li class="off"><a id="newAccountLink" href="http://thelia.ketmie.com/?fond=connexion">Créer mon compte</a></li>
   	 	<li class="off"><a href="#" class="connectLink">Me connecter</a></li>
 	</ul>
 </div>
<div id="main">
<dl id="catNav">
  <dt>Catalogue</dt>
  <dd>
    <ul class="catList">
      <li class="off">
        <a class="off" href="http://thelia.ketmie.com/?fond=rubrique&amp;id_rubrique=9">Tous les produits</a>
      </li>
      <li class="off">
        <a class="off" href="http://thelia.ketmie.com/?fond=rubrique&amp;id_rubrique=1">Collages</a>
      </li>
      <li class="on">
        <a class="on" href="http://thelia.ketmie.com/?fond=rubrique&amp;id_rubrique=2">Bijoux</a>
        <ul class="navSub">
          <li class="on">
            <a class="on" href="http://thelia.ketmie.com/?fond=rubrique&amp;id_rubrique=3">Boucles d'oreilles</a>
            <ul class="navSub">
              <li class="off">
                <a class="off" href="http://thelia.ketmie.com/?fond=rubrique&amp;id_rubrique=5">2014</a>
              </li>
              <li class="on">
                <a class="on" href="http://thelia.ketmie.com/?fond=rubrique&amp;id_rubrique=6">2013</a>
              </li>
            </ul>
          </li>
          <li class="off">
            <a class="off" href="http://thelia.ketmie.com/?fond=rubrique&amp;id_rubrique=4">Colliers</a>
          </li>
        </ul>
      </li>
    </ul>
  </dd>
</dl>
	<div id="content" class="prod-main">
		<div id="popCtn"></div>
		<div id="popBox">
			<div class="flexFixed">
				<div class="flexPopup">
					<a href="#" class="popupNav btn_left"><img src="images/popLeft.png" title="Image précedente" alt="Image précedente" /></a>
					<div class="imgCloseBox">
						<img class="imgPreview"/>
						<a href="#" class="popupNav btn_close"><img src="images/close_pop.png" title="Fermer" alt="Fermer"/></a>
					</div>
					<a href="#" class="popupNav btn_right"><img src="images/popRight.png" title="Image suivante" alt="Image suivante" /></a>
				</div>
			</div>
		</div>
		<div class="prod-img">
		<img id="prod_img" src="client/cache/produit/290_____0_ffffff_img_73_824_550_5.jpg"/>
	<ul class="img_list_5 gridContainer">
		<li>
			<a href="client/cache/produit/900_550____0_ffffff_img_73_824_550_5.jpg"></a>
		</li>
	</ul>
		</div>
		<div class="v-box">
			<div class="panelBorder">
				<h1>Boucles d'oreilles 4</h1>
				<form action="#AJOUTER_PARAMETRE(#URLCOURANTE,panier=1)" method="post">
				    <input type="hidden" name="action" value="ajouter"/>
		            <input type="hidden" name="ref" value="bo-002"/>
		            <input type="hidden" name="quantite" value="1"/>
						#FILTRE_tarifbo(produit||18)
		            <div class="popupBtnBox rightForm">
						<button type="submit" id="ajouterPanier" #GET{disabled}>::ajouterpanier::</button>
		            </div>
		        </form>
			</div>
		</div>
	</div>
</div>
	<footer>
	<ul>
		<li><a href="http://thelia.ketmie.com/?fond=custom/mentions-legales">Mentions légales</a></li>
		<li><a href="http://thelia.ketmie.com/?fond=custom/conditions-ventes">Conditions générales de vente</a></li>
	</ul>
	</footer>
<div id="modal"></div>
<div id="popupContainer2">
<div id="connectPanel" class="panelBorder popup2">
	<p class="titleBar">Me connecter</p>
	<div class="popupDiv">
	 	<p class="emailmdperr">E-mail ou mot de passe incorrects</p>
	    <form action="http://thelia.ketmie.com/?fond=ajax/ajaxconnexion" method="post" 
	    id="connexionForm" class="formAdr">
			<table class="connectForm">
			    <tr>
			    	<td class="formLabel">
						<label>E-mail</label>
			        </td>
			        <td>
						<input name="email" type="text"/>
					</td>
				</tr>
			    <tr>
			    	<td class="formLabel">
			        	<label>Mot de passe</label>
					</td>
			        <td>
				        <input name="motdepasse" type="password"/>
			        </td>
				</tr>
			    <tr>
			    	<td colspan="2" align="right"><a href="http://thelia.ketmie.com/?fond=mdpoublie">Mot de passe perdu ou oublié</a></td>
				</tr>
		    </table>
		    <div class="popupBtnBox rightForm">
		    	<button type="button" class="cancelBtn">Fermer</button>
	        	<button type="submit" class="submitBtn">Valider</button>
		    </div>
		</form>
	</div>
</div>
</div>
</body>
<!-- Page parsée et évaluée en 0.32 secondes -->
</html>