<mat-card>
  <mat-card-header>
    <mat-card-title>Connexion</mat-card-title>
    <mat-card-subtitle *ngIf="isClient">Déjà client</mat-card-subtitle>
    <mat-card-subtitle *ngIf="!isClient">Nouveau client</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button *ngIf="isClient" mat-raised-button (click)="isClient=false">Créer mon compte</button>
    <button *ngIf="!isClient" mat-raised-button (click)="isClient=false">Me connecter</button>
  </mat-card-actions>
  <mat-card-content *ngIf="isClient" class="connect-content">
    <mat-card-content *ngIf="loginError" class="k-light">
      <p class="warn content raised" style="padding:8px; border-radius: 2px">{{loginError}}</p>
    </mat-card-content>
    <div [formGroup]="connectForm" fxLayout="column" fxLayoutAlign="start stretch">
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" [(ngModel)]="customer.email">
        <mat-error *ngIf="connectForm.controls.email.invalid">
          Email invalid
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Mot de passe" formControlName="password" [(ngModel)]="customer.motdepasse">
        <mat-error *ngIf="connectForm.controls.password.invalid">
          Mot de passe requis
        </mat-error>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-content *ngIf="!isClient" class="connect-content">
    <mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper">
      <mat-step [stepControl]="createForm">
        <div [formGroup]="createForm" fxLayout="column" fxLayoutAlign="start stretch">
          <ng-template matStepLabel>Mes données de connexion</ng-template>
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" [(ngModel)]="data.email">
            <mat-error *ngIf="createForm.controls.email.invalid">
              Cet email n'est pas valide.
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Vérification de l'email" formControlName="email2" [(ngModel)]="data.email2">
            <mat-error *ngIf="createForm.controls.email2.invalid">
              {{getEmailError(createForm.controls.email2)}}
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Mot de passe" formControlName="password" [(ngModel)]="data.password">
            <mat-error *ngIf="createForm.controls.password.invalid">
              Mot de passe trop court.
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Vérification du mot de passe" formControlName="password2" [(ngModel)]="data.password2">
            <mat-error *ngIf="createForm.controls.password2.invalid">
              {{getPwdError(createForm.controls.password2)}}
            </mat-error>
          </mat-form-field>
          <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="8px">
            <span *ngIf="emailTakenError" class="warn">Cet email est déjà associé à un compte.</span>
            <button [disabled]="emailTaken" mat-raised-button color="primary" matStepperNext>Suivant</button>
          </div>
        </div>
      </mat-step>
      <mat-step [stepControl]="addressForm.formGroup">
        <ng-template matStepLabel>Mon addresse</ng-template>
        <address-form #addressForm [address]="data.address" [saveButton]="false" (valid)="addressValid($event)"></address-form>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
  <mat-card-footer>
    <mat-toolbar>
      <span style="flex: 1 1 auto;"></span>
      <button mat-raised-button color="accent" (click)="dialogRef.close()">Annuler</button>
      <button [disabled]="!submitable" mat-raised-button color="primary" (click)="submit()">Envoyer</button>
    </mat-toolbar>
  </mat-card-footer>
</mat-card>
