mat-radio-button {
    margin: 5px 0 5px 15px;
}

i {
    cursor: pointer;
}

mat-card-title i {
    font-size: 28px;
}

.nav-bar>h2 {
    text-align: center;
    padding: 0 5px;
}

.main-ctn {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
}
.product-box {
    width: 80vw;
    height: 90vh;
}
.img-box-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    font-size: 28px;
    color: lightslategray;
    background-color: white;
}

.img-box {
    position: relative;
    /*width: 50vw;*/
    margin: 8px;
}

.img-box>* {
    position: absolute;
}

.box-item:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.box-item:nth-child(2) {
    order: 0;
    flex: 1 1 auto;
    align-self: stretch;
}

.box-item:nth-child(3) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}