$icomoon-font-path: "fonts" !default;

$k-i_menu-h: "\e900";
$k-i_card: "\e901";
$k-i_chevron-left: "\e902";
$k-i_chevron-left-circle: "\e903";
$k-i_chevron-right: "\e904";
$k-i_chevron-right-circle: "\e905";
$k-i_close: "\e906";
$k-i_close-circle: "\e907";
$k-i_close-crcle-o: "\e908";
$k-i_cogs: "\e909";
$k-i_exclamation: "\e90a";
$k-i_exclamation-circle: "\e90b";
$k-i_home: "\e90c";
$k-i_menu-v: "\e90d";
$k-i_user: "\e90e";
$k-i_user-card: "\e90f";
$k-i_user-card-o: "\e910";
$k-i_user-crcle: "\e911";
$k-i_user-crcle-o: "\e912";
$k-i_user-o: "\e913";

